/* Raleway Font Family */
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --black: #333;
  --dark-black: #000;
  --orange: #FF6600;
  --light-orange: #ff7a22;
  --red: #DC3545;
  --red-dark: #c82333;
  --white: #fff;
  --header-primary: 2rem;
  --little-desc: 1.5rem;
  --primary-font: 'Raleway',
    sans-serif;
  --light-green: #25d366;
  --light-blue: #4267B2;
  --light-sky: #55acee;
  --light-gray: #7d7d7d;
  --yellow: #ffbd00;
  --tia-light-green: #95D03A;
  --white-smoke: #f5f5f5;
}

body {
  font-family: var(--primary-font);
}

img {
  width: 100%;
  height: 100%;
}

::selection {
  background: var(--orange);
  color: var(--white);
}

.container {
  width: 100%;
  max-width: 78.12rem;
  padding: 0 1rem;
  margin: auto;
}

.underline::after {
  content: "";
  display: block;
  width: 3rem;
  height: 0.12rem;
  background: var(--black);
  margin: auto;
  margin-top: 2rem;
}

.logo {
  width: 10rem;
}

/* humberger menu start here */

.nav-menu {
  display: none;
}

.nav-menu div {
  width: 1.87rem;
  height: 0.31rem;
  background: #333;
  margin: 0.31rem;
  border-radius: 0.31rem;
}

/* humberger menu end here */

.home-container {
  width: 100%;
  height: 100vh;
  position: relative;
  margin: auto;
  overflow: hidden;
}

.mySlides img {
  width: 100%;
  height: 100vh;
  object-fit: cover;
}

.prev,
.next {
  position: absolute;
  cursor: pointer;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
}

.sliderText {
  color: var(--white);
  position: absolute;
  bottom: 30px;
  top: 50%;
  left: 50%;
  font-size: 2rem;
  transform: translate(-50%);
  text-align: center;
}

.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.prev:hover,
.next:hover {
  background: var(--light-gray);
}

/* fading animation start here */

.textAnim {
  animation-name: textFade;
  animation-duration: 1s;
}

.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  0% {
    opacity: .7;
  }

  100% {
    opacity: 1;
  }
}

@keyframes fade {
  0% {
    opacity: .7;
  }

  100% {
    opacity: 1;
  }
}

@keyframes textFade {
  0% {
    opacity: 0;
    transform: translateX(90%);
  }

  50% {
    opacity: 0.5;
    transform: translateX(-70%);
  }

  100% {
    opacity: 1;
    transform: translateX(-50%);

  }
}

/* fading animation end here */

/* responsive for small screen and laptops */

@media only screen and (max-width: 1025px) {

  .nav-menu {
    display: block;
    cursor: pointer;
  }

  .nav-ul {
    width: 100%;
    height: 100%;
    border: 1px solid #fff;
    position: fixed;
    right: 0;
    top: 4.5rem;
    display: flex;
    padding: 1rem 0;
    flex-direction: column;
    background: #fff;
    z-index: 2;
    transform: translateX(100%);
    transition: 0.5s ease-out;
  }

  .nav-li {
    padding: 1rem;
  }

  .nav-link {
    font-size: 1rem;
  }

  .nav-li .user-link {
    display: none;
  }

  .active-drawer .nav-ul {
    transform: translateX(0);
  }

  .active-drawer {
    overflow-y: hidden;
  }

  .logo {
    margin: auto;
  }
}

/* responsive for pads and tablets */

@media only screen and (max-width: 769px) {
  .nav-link {
    font-size: 1rem;
  }

  .active-drawer nav {
    top: 0 !important;
  }

  .user-link {
    display: none;
  }

  /* Home section start here */

  .input-container {
    width: 85%;
  }

  .input-domain {
    width: 100%;
  }

  .nav-menu {
    display: block;
  }

  /* Home section end here */
}
