/* Raleway Font Family */
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --black: #333;
  --dark-black: #000;
  --orange: #FF6600;
  --light-orange: #ff7a22;
  --red: #DC3545;
  --red-dark: #c82333;
  --white: #fff;
  --header-primary: 2rem;
  --little-desc: 1.5rem;
  --primary-font: 'Raleway',
    sans-serif;
  --light-green: #25d366;
  --light-blue: #4267B2;
  --light-sky: #55acee;
  --light-gray: #7d7d7d;
  --yellow: #ffbd00;
  --tia-light-green: #95D03A;
  --white-smoke: #f5f5f5;
}

body {
  font-family: var(--primary-font);
}

::selection {
  background: var(--orange);
  color: var(--white);
}

.container {
  width: 100%;
  max-width: 78.12rem;
  padding: 0 1rem;
  margin: auto;
}

/* humberger menu start here */

.nav-menu {
  display: none;
}

.nav-menu div {
  width: 1.87rem;
  height: 0.31rem;
  background: #333;
  margin: 0.31rem;
  border-radius: 0.31rem;
}

/* humberger menu end here */

header.sticky {
  display: none;
}

.home-container {
  width: 100%;
  height: 100vh;
  min-height: 28rem;
  background: url(./../Images/home-background.jpg) no-repeat center / cover;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo {
  width: 10rem;
}

nav {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background: #fff;
  z-index: 333;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 3px 10px 0px;
}

nav>.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-li {
  display: inline-block;
}

.nav-link {
  color: var(--black);
  font-weight: 600;
  text-decoration: none;

  margin: 0 0.5rem;
}

.nav-link:hover {
  color: var(--orange);
  transition: 0.3s;
}

.user-link {
  margin-left: 2rem;
}

.user-icon {
  width: 0.87rem;
  color: var(--orange);
}

/* humberger menu start here */

.nav-menu {
  display: none;
}

.nav-menu div {
  width: 1.87rem;
  height: 0.31rem;
  background: #333;
  margin: 0.31rem;
  border-radius: 0.31rem;
}

/* humberger menu end here */

.page-title {
  padding: 3rem 0;
  background: var(--white-smoke);
  margin-top: 4.5rem;
}

/* Support page start here */

.support-page-container {
  margin: 4rem 0;
}

.support-container {
  display: grid;
  grid-template-columns: 1fr 21.87rem;
}

/* Support page end here */
