/* Raleway Font Family */
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
/* Lato Font Family */
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
/* Crete round */
@import url('https://fonts.googleapis.com/css2?family=Crete+Round:ital@0;1&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --black: #333;
  --dark-black: #000;
  --orange: #FF6600;
  --light-orange: #ff7a22;
  --red: #DC3545;
  --red-dark: #c82333;
  --white: #fff;
  --header-primary: 2rem;
  --little-desc: 1.5rem;
  --primary-font: 'Raleway',
    sans-serif;
  --secondary-font: 'Lato',
    sans-serif;
  --third-font: 'Crete Round',
    serif;
  --light-green: #25d366;
  --light-blue: #4267B2;
  --light-sky: #55acee;
  --light-gray: #7d7d7d;
  --yellow: #ffbd00;
  --tia-light-green: #95D03A;
}

body {
  overflow-x: hidden;
}

img {
  width: 100%;
  height: auto;
}

::selection {
  background: var(--orange);
  color: var(--white);
}

.container {
  max-width: 78.12rem;
  padding: 0 1rem;
  margin: auto;
}

.underline::after {
  content: "";
  display: block;
  width: 3rem;
  height: 0.12rem;
  background: var(--black);
  margin: auto;
  margin-top: 2rem;
}

.logo {
  width: 10rem;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-li {
  display: inline-block;
}

.nav-link {
  color: var(--black);
  font-weight: 600;
  text-decoration: none;
  font-family: var(--primary-font);
  margin: 0 0.5rem;
}

.nav-link:hover {
  color: var(--orange);
  transition: 0.3s;
}

.user-link {
  margin-left: 2rem;
}

.user-icon {
  width: 0.87rem;
  color: var(--orange);
}

/* humberger menu start here */

.nav-menu {
  display: none;
}

.nav-menu div {
  width: 1.87rem;
  height: 0.31rem;
  background: #333;
  margin: 0.31rem;
  border-radius: 0.31rem;
}

/* humberger menu end here */

.home-container {
  width: 100%;
  height: 100vh;
  min-height: 28rem;
  background: url(./Images/home-background.jpg) no-repeat center / cover;
  display: flex;
  justify-content: center;
  align-items: center;
}

.home-content {
  text-align: center;
}

.main-header {
  font-size: var(--header-primary);
  color: var(--white);
  margin: 1rem;
  font-family: var(--primary-font);
}

.main-little-desc {
  color: var(--white);
  font-size: var(--little-desc);
  margin-bottom: 2rem;
  font-family: var(--secondary-font);
}

.input-container {
  margin: auto;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.input-domain {
  width: 30rem;
  padding: 0.8rem 1rem;
  outline: none;
  border-radius: 0.3rem;
  border: 0;
  font-size: 1.2rem;
  position: relative;
}

.search-btn {
  width: 6rem;
  height: 100%;
  position: absolute;
  right: 0;
  padding: 0.5rem;
  border-radius: 0 0.3rem 0.3rem 0;
  border: 0;
  background: var(--red);
  color: var(--white);
  font-family: var(--secondary-font);
  cursor: pointer;
  font-size: 1.2rem;
}

.search-btn:hover {
  background: var(--red-dark);
}

/* service section start here */

.service-container {
  width: 100%;
  padding: 5rem 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.service-content {
  display: flex;
  justify-content: center;
  align-items: center;
}

.service-header {
  font-family: var(--primary-font);
  font-size: var(--header-primary);
}

.service-desc {
  font-family: var(--secondary-font);
  margin: 3rem 0;
}

.demo-btn {
  color: var(--white);
  background: var(--light-orange);
  font-weight: 600;
  letter-spacing: 0.2rem;
  border: 0;
  padding: 1rem 2.5rem;
  font-family: var(--secondary-font);
  border-radius: 0.2rem;
}

.demo-btn:hover {
  background: var(--dark-black);
  transition: 0.5s;
  cursor: pointer;
}

.social-link-li {
  display: inline-block;
  margin-top: 5rem;
}

.social-link-li a {
  padding: 0.5rem;
  text-decoration: none;
  color: var(--white);
  border-radius: 0.2rem;
}

.social-link-li .facebook {
  background: var(--light-blue);
}

.social-link-li .twitter {
  background: var(--light-sky);
}

.social-link-li .envelope {
  background: var(--light-gray);
}

.social-link-li .sms {
  background: var(--yellow);
}

.social-link-li .whatsapp {
  background: var(--light-green);
}

.social-link-li .share {
  background: var(--tia-light-green);
}

.social-icons {
  width: 1rem;
  height: 1rem;
}

.service-img {
  width: 45rem;
  height: auto;
}

/* service section end here */

/* content section start here */

.content {
  background: var(--dark-black);
  padding: 3rem 0;
}

.content-container {
  display: flex;
}

.content-box {
  margin: 0 1rem;
}

.content-box h4 {
  color: var(--white);
  font-family: var(--third-font);
  font-style: italic;
}

.content-box h3 {
  color: var(--orange);
  font-family: var(--secondary-font);
  margin: 1rem 0;
}

.content-box p {
  color: var(--white);
  font-family: var(--secondary-font);
  text-align: justify;
}

/* content section end here */

/* services section start here */

.services-content {
  padding: 3rem 0;
}

.services-main-header {
  font-family: var(--primary-font);
  text-align: center;
  margin-top: 2rem;
  color: var(--black);
  font-size: 2rem;
}

.services-title {
  font-family: var(--secondary-font);
  text-align: center;
  margin: 1rem 0;
  font-size: var(--little-desc);
  font-weight: 300;
}

.services-container {
  display: flex;
  align-items: center;
}

.check {
  width: 3.5rem;
}

.services-content-left {
  display: flex;
  padding-right: 4.5rem;
}

.services-content-right {
  display: flex;
  padding-left: 4.5rem;
}

.services-left-content {
  text-align: right;
  margin-right: 1rem;
}

.services-left-content h3 {
  padding: 1rem 0;
  font-family: var(--primary-font);
}

.services-left-content p {
  line-height: 1.3rem;
  font-family: var(--secondary-font);
}

.services-right-content {
  margin-left: 1rem;
}

.services-right-content h3 {
  padding: 1rem 0;
  font-family: var(--primary-font);
}

.services-right-content p {
  line-height: 1.3rem;
  font-family: var(--secondary-font);
}

.services-content-header {
  font-family: var(--primary-font);
}

.services-content-title {
  font-family: var(--secondary-font);
}


/* services section end here */

/* trial days section start here */

.trial-days-container {
  background: var(--dark-black);
  padding: 3rem 0;
}

.trial-days-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.trial-days-header {
  font-family: var(--primary-font);
  color: var(--white);
}

.trial-days-title {
  font-family: var(--secondary-font);
  color: var(--white);
}

.short-text {
  color: var(--orange);
}

.trial-days-btn {
  font-family: var(--secondary-font);
  padding: 1rem 1.5rem;
  cursor: pointer;
  background: var(--orange);
  border: 0;
  color: var(--white);
  border-radius: 0.2rem;
  font-weight: bold;
  letter-spacing: 0.1rem;
}

.trial-days-btn:hover {
  background: var(--white);
  color: var(--black);
  transition: 0.3s ease-in;
}

/* trial days section end here */

/* default setup start here */

.setup-header {
  font-family: var(--primary-font);
  text-align: center;
}

.setup-container {
  padding: 8rem 0;
}

.setup-header {
  padding: 1rem 0;
  font-size: 2rem;
  color: var(--black);
}

.setup-title {
  font-family: var(--secondary-font);
  text-align: center;
  font-size: var(--little-desc);
  font-weight: 300;
}

.setup-content {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 0.62rem;
  margin-top: 1rem;
}

.image-container {
  max-width: 6rem;
  width: 100%;
  background: var(--light-orange);
  border-radius: 50%;
  margin: auto;
}

.image-container img {
  padding: 1.3rem;
}

.box-content {
  text-align: center;
  margin: 1.25rem;
}

.box-content h3 {
  font-family: var(--primary-font);
  margin: 1rem 0;
}

.box-content p {
  font-family: var(--secondary-font);
}

/* default setup end here */

/* Footer section start here */

.footer-container {
  background: var(--black);
  padding: 2.5rem 0;
  color: var(--light-gray);
  font-family: var(--secondary-font);
}

.footer-content {
  display: flex;
  justify-content: space-between;
}

.footer-link {
  text-decoration: none;
  color: var(--light-gray);
}

.footer-ul {
  list-style: none;
}

.footer-li {
  display: inline-block;
  margin: 0 0.5rem;
}

.footer-icon {
  width: 1rem;
  height: 1rem;
}



/* Footer section end here */


/* responsive for small screen and laptops */

@media only screen and (max-width: 1025px) {


  .nav-menu {
    display: block;
  }

  .nav-ul {
    width: 55vh;
    height: 100vh;
    border: 1px solid #fff;
    position: absolute;
    right: 0;
    top: 4.5rem;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    background: #fff;
    z-index: 2;
    transform: translateX(100%);
  }

  .logo {
    margin: auto;
  }

  .service-container {
    padding: 3rem;
  }

  .service-content {
    flex-direction: column;
  }

  .service-img {
    padding: 2rem 0;
  }

  /* content section start here */

  .content-container {
    flex-direction: column;
  }

  .content-box {
    margin: 2rem 1rem;
  }

  .services-content {
    padding: 2rem 1rem;
  }

  .service-image {
    display: none;
  }

  .services-content-right {
    padding-left: 2rem;
  }

  .services-content-left {
    padding-right: 2rem;
  }

  /* content section end here */

  /* trial days section start here */

  .trial-days-content {
    flex-direction: column;
    align-items: flex-start;
    padding: 0 1rem;
  }

  .trial-days-header {
    margin: 1rem 0;
  }

  .trial-days-title {
    margin: 1.5rem 0;
  }

  .footer-container {
    padding: 2.5rem 1rem;
  }

  /* trial days section end here */
}

/* responsive for pads and tablets */

@media only screen and (max-width: 769px) {

  /* Home section start here */

  .input-container {
    width: 85%;
  }

  .input-domain {
    width: 100%;
  }

  .nav-menu {
    display: block;
  }

  /* Home section end here */

  /* Services section start here */

  .service-img {
    display: none;
  }

  .services-container {
    flex-direction: column;
  }

  .service-image {
    display: block;
  }

  /* Services section end here */

  /* Default setup section start here */

  .setup-content {
    grid-template-columns: 1fr;
  }

  /* Default setup section end here */

  /* Footer section start here */

  .footer-content {
    justify-content: center;
    text-align: center;
  }

  .footer-ul {
    display: none;
  }

  /* Footer section end here */
}
